body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: url(img/fondo.jpg);
    color: white;
    text-align: center;
    padding: 1.5rem;
}
.menus{
    width: 80%;
    margin: auto;
    display: flex;
}
.menus form{
    display: flex;
    justify-content: center;
}
.menus form p input{
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bolder;
    color: rgb(243, 243, 250);
    background-color: blueviolet;
    border-radius: 5px;
}
.menus form p input:hover{
    color: rgb(243, 243, 250);
    background-color: rgb(11, 139, 11);
}
h1, h2 {
    margin: 0;
}

section {
    margin: 2rem;
}

h3 {
    margin-bottom: 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 0.5rem;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}
/* Estilo general para el menú */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d8440af5;
}

/* Estilo para cada opción del menú */
li {
    float: left;
}

/* Estilo para los enlaces dentro de cada opción */
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Cambio de color al pasar el mouse sobre una opción */
li a:hover {
    background-color: #e007aa;
}
h1 {
    color:  #ff0080ec; /* Color del texto */
    font-family: Arial, sans-serif; /* Tipo de letra */
    font-size: 2em; /* Tamaño del texto */
    text-align: center; /* Alineación del texto */
}
p {

    font-family: Arial, Verdana, sans-serif;


}
h2 {
    
        font-family: 'Bickham Script Pro', cursive;
        font-size: 50px;
        color:#ff009d; /* Color del texto */ ;
    
}

p {
    color: #1451faf5;
}

body{
    width: 100%;
    height: 100wh;
    background-color: antiquewhite;
    margin: 0%;
    background-size: cover;
}
.texto-justificado {
    text-align: justify;
}
body{
    width: 100%;
    height: 100wh;
    background-color: antiquewhite;
    margin: 0%;
    background-size: cover;
}